<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="assets/thirdparty/font-awesome-4.1.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/thirdparty/pure-min.css">
    <link rel="stylesheet" href="assets/thirdparty/slickgrid/css/smoothness/jquery-ui-1.8.16.custom.css">
    <link rel="stylesheet" href="assets/thirdparty/slickgrid/controls/slick.columnpicker.css">
    <link rel="stylesheet" href="assets/thirdparty/slickgrid/controls/slick.pager.css">
    <link rel="stylesheet" href="assets/thirdparty/slickgrid/lib/qunit.css">
    <link rel="stylesheet" href="assets/thirdparty/slickgrid/plugins/slick.headerbuttons.css">
    <link rel="stylesheet" href="assets/thirdparty/slickgrid/plugins/slick.headermenu.css">
    <link rel="stylesheet" href="assets/thirdparty/slickgrid/slick-default-theme.css">
    <link rel="stylesheet" href="assets/thirdparty/slickgrid/slick.grid.css">

    <link rel="stylesheet" href="assets/stylesheet/slickgrid.css">
    <link rel="stylesheet" href="assets/stylesheet/style.css">
  </head>

  <body data-site="<%= site %>">

    <script src="assets/thirdparty/socket.io.js"></script>
    <script src="assets/thirdparty/sails.io.js"></script>
    <script src="assets/thirdparty/slickgrid/lib/jquery-1.7.min.js"></script>
    <script src="assets/thirdparty/slickgrid/lib/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="assets/thirdparty/slickgrid/lib/jquery.event.drag-2.2.js"></script>
    <script src="assets/thirdparty/slickgrid/lib/jquery.event.drop-2.2.js"></script>
    <script src="assets/thirdparty/slickgrid/lib/jquery.jsonp-2.4.min.js"></script>
    <script src="assets/thirdparty/slickgrid/lib/jquery.simulate.js"></script>
    <script src="assets/thirdparty/slickgrid/lib/jquery.sparkline.min.js"></script>
    <script src="assets/thirdparty/slickgrid/lib/qunit.js"></script>
    <script src="assets/thirdparty/slickgrid/controls/slick.columnpicker.js"></script>
    <script src="assets/thirdparty/slickgrid/controls/slick.pager.js"></script>
    <script src="assets/thirdparty/slickgrid/plugins/slick.autotooltips.js"></script>
    <script src="assets/thirdparty/slickgrid/plugins/slick.cellcopymanager.js"></script>
    <script src="assets/thirdparty/slickgrid/plugins/slick.cellrangedecorator.js"></script>
    <script src="assets/thirdparty/slickgrid/plugins/slick.cellrangeselector.js"></script>
    <script src="assets/thirdparty/slickgrid/plugins/slick.cellselectionmodel.js"></script>
    <script src="assets/thirdparty/slickgrid/plugins/slick.checkboxselectcolumn.js"></script>
    <script src="assets/thirdparty/slickgrid/plugins/slick.headerbuttons.js"></script>
    <script src="assets/thirdparty/slickgrid/plugins/slick.headermenu.js"></script>
    <script src="assets/thirdparty/slickgrid/plugins/slick.rowmovemanager.js"></script>
    <script src="assets/thirdparty/slickgrid/plugins/slick.rowselectionmodel.js"></script>
    <script src="assets/thirdparty/slickgrid/slick.core.js"></script>
    <script src="assets/thirdparty/slickgrid/slick.dataview.js"></script>
    <script src="assets/thirdparty/slickgrid/slick.editors.js"></script>
    <script src="assets/thirdparty/slickgrid/slick.formatters.js"></script>
    <script src="assets/thirdparty/slickgrid/slick.grid.js"></script>
    <script src="assets/thirdparty/slickgrid/slick.groupitemmetadataprovider.js"></script>
    <script src="assets/thirdparty/slickgrid/slick.remotemodel.js"></script>

    <script src="http://localhost:9810/compile?id=carbuncle"></script>
    <!-- <script src="/carbuncle/main-min.js"></script> -->


  </body>
</html>

