
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.main {
  flex: 1;
  display: flex;
}

a {
  color: #00B7FF;
}

#iframe {
  position: relative;
  flex: 1;
  background: #fff;
  border-top: 2px #000 solid;
  border-right: 2px #000 solid;
  cursor: pointer;
}



.toolbar {
  padding: .4em .6em;
  border-bottom: 1px #ccc solid;
  box-sizing: border-box;
  position: relative;
  z-index: 100;
  background: white;
}
.toolbar-message {
  float: right;
  font-size: 85%;
  color: #999;
}



.editor {
  padding: .8em;
}
.editor-content {
  border: 1px #d3d3d3 solid;
  background: #f9f9f9;
  border-radius: 2px;
  padding: .8em 1.2em;
}
.selector-button {
  text-align: right;
}
.entry-css {
  font-size: 77%;
}
.editor .append {
  text-align: right;
}

#editor-form :disabled {
  display: none;
}



.scenario {
  width: 40%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;
}
.scenario-header {
  padding: 0 1.6em 1.2em;
}
.scenario-footer {
  padding: 1.2em 1.6em;
}
.scenario-body {
  flex: 1;
  border: 1px #d3d3d3 solid;
  margin-left: 1.6em;
  margin-right: 1.6em;
  overflow: auto;
}


.worm-pixel {
  position: absolute;
  background: black;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  z-index: 9999;
}
.worm-pixel-border {
  position: absolute;
  border: 2px dashed #f33;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 9999;
}
.worm-pixel-border-right { margin-left: -4px; }
.worm-pixel-border-bottom { margin-top: -4px; }

.worm-pixel-description {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 40%;
  z-index: 9999;
  font-size: 85%;
  color: #999;
  background: lightyellow;
}


.mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.2);
  z-index: 10;
}


.scenario-entry {
  padding: 10px;
  border-bottom: 1px #ccc solid;
  font-size: 85%;
}
.scenario-entry-action {}
.scenario-entry-verify {
  background: rgb(255,255,100);
}
.scenario-entry-doing {
  background: rgb(34, 34, 249);
}
.scenario-entry-done {
  background: rgb(17, 234, 17);
}
.scenario-entry-fail {
  background: rgb(239, 37, 37);
}
.scenario-entry-done:first-of-type { margin-top: 0; }
