


/* primary background color */
.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
  background: navy;
}

/* custom button background color */
.pure-button-darkgreen, a.pure-button-darkgreen {
  background: darkgreen;
  color: white;
}

.pure-button-crimson, a.pure-button-crimson {
  background: #ad1120;
  color: white;
}

/* form input style */
.pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=color], .pure-form select, .pure-form textarea {
  border-color: transparent transparent #ccc;
  box-shadow: none;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
}
.pure-form input[type=text]:focus, .pure-form input[type=password]:focus, .pure-form input[type=email]:focus, .pure-form input[type=url]:focus, .pure-form input[type=date]:focus, .pure-form input[type=month]:focus, .pure-form input[type=time]:focus, .pure-form input[type=datetime]:focus, .pure-form input[type=datetime-local]:focus, .pure-form input[type=week]:focus, .pure-form input[type=number]:focus, .pure-form input[type=search]:focus, .pure-form input[type=tel]:focus, .pure-form input[type=color]:focus, .pure-form select:focus, .pure-form textarea:focus,
.pure-form input[type=text]:hover, .pure-form input[type=password]:hover, .pure-form input[type=email]:hover, .pure-form input[type=url]:hover, .pure-form input[type=date]:hover, .pure-form input[type=month]:hover, .pure-form input[type=time]:hover, .pure-form input[type=datetime]:hover, .pure-form input[type=datetime-local]:hover, .pure-form input[type=week]:hover, .pure-form input[type=number]:hover, .pure-form input[type=search]:hover, .pure-form input[type=tel]:hover, .pure-form input[type=color]:hover, .pure-form select:hover, .pure-form textarea:hover {
  background: lightgoldenrodyellow;
  border-bottom-color: transparent;
}
.pure-form input[type=text]:focus, .pure-form input[type=password]:focus, .pure-form input[type=email]:focus, .pure-form input[type=url]:focus, .pure-form input[type=date]:focus, .pure-form input[type=month]:focus, .pure-form input[type=time]:focus, .pure-form input[type=datetime]:focus, .pure-form input[type=datetime-local]:focus, .pure-form input[type=week]:focus, .pure-form input[type=number]:focus, .pure-form input[type=search]:focus, .pure-form input[type=tel]:focus, .pure-form input[type=color]:focus, .pure-form select:focus, .pure-form textarea:focus {
  box-shadow: inset 0 1px 3px #ddd;
  border-color: dodgerblue;
}


.pure-menu .pure-menu-selected a {
  background: #eee;
}











html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.main {
  flex: 1;
  display: flex;
}

a {
  color: dodgerblue;
}
a:hover {
  text-decoration: none;
}

.iframe {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  background: #fff;
  border-top: 2px #000 solid;
  border-right: 2px #000 solid;
  cursor: pointer;
}
.iframe-locationbar {
  display: flex;
  border-bottom: 1px #000 solid;
  font-size: 85%;
}
.iframe-locationbar-text {
  flex: 1;
  border: none;
  text-indent: .6em;
}
.iframe-iframe {
  flex: 1;
}










/* Common */
.helptext {
  font-size: 85%;
  color: #999;
}











.toolbar {
  padding: .4em .6em;
  border-bottom: 1px #ccc solid;
  box-sizing: border-box;
}
.toolbar-message {
  padding: .4em .6em;
  float: right;
  font-size: 85%;
  color: #999;
}
.toolbar-message-pass {
  background: limegreen;
  color: white;
}
.toolbar-message-fail {
  background: crimson;
  color: white;
}



.editor {
  /* border: 4px slategray solid; */
  padding: .8em 1.4em;
  background: whitesmoke;
}
.editor-content {
  border: 1px #d3d3d3 solid;
  background: #f9f9f9;
  border-radius: 2px;
  padding: .8em 1.2em;
}
.selector-button {
  text-align: right;
}
.entry-css {
}
.editor .append {
  text-align: right;
}

#editor-form :disabled {
  display: none;
}



.scenario {
  border-top: 1px #ccc solid;
  width: 40%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;
}
.scenario-header {
  padding: .8em 1.2em .8em;
}
.scenario-header .helptext {
  padding-left: .6em;
}
.scenario-header .pure-form { display: flex; }
.scenario-header .scenario-title { flex: 1; }
.scenario-footer {
  padding: 1em 1.2em;
  text-align: right;
}
.scenario-body {
  flex: 1;
  border-top: 2px #ccc solid;
  border-bottom: 2px #ccc solid;
  margin-left: 1.2em;
  margin-right: 1.2em;
  padding: 0 .6em;
  overflow: auto;
}
.scenario-body-insertblock-wrap {
  padding: 1em 0 2em;
  text-align: center;
}
.scenario-body-insertblock {
  display: inline-block;
  margin: -1em;
  padding: 1em;
  text-align: center;
}


.worm-pixel {
  position: absolute;
  background: black;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  z-index: 9999;
}
.worm-pixel-border {
  position: absolute;
  border: 2px dashed #f33;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 9999;
}
.worm-pixel-border-right { margin-left: -4px; }
.worm-pixel-border-bottom { margin-top: -4px; }

.worm-pixel-description {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 40%;
  z-index: 9999;
  font-size: 85%;
  color: #999;
  background: lightgoldenrodyellow;
}


.mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.2);
  z-index: 10;
}


.scenario-entry {
  padding: 10px;
  border-bottom: 1px #d3d3d3 solid;
  font-size: 85%;
}
.scenario-entry-block {
  background: thistle;
}
.scenario-entry-action {}
.scenario-entry-verify {
  background: lemonchiffon;
}
.scenario-entry-doing {
  background: darkgreen;
}
.scenario-entry-done {
  background: limegreen;
}
.scenario-entry-fail {
  background: crimson;
}
.scenario-entry-done:first-of-type { margin-top: 0; }

.scenario-entry-fail,
.scenario-entry-fail a,
.scenario-entry-fail .scenario-entry-meta,
.scenario-entry-done,
.scenario-entry-done a,
.scenario-entry-done .scenario-entry-meta,
.scenario-entry-doing,
.scenario-entry-doing a,
.scenario-entry-doing .scenario-entry-meta {
  color: white;
}

.scenario-entry-meta {
  color:gray;
  clear:both;
}















/* Deeply inspired by http://tympanus.net/Development/FullscreenOverlayStyles/index5.html */
.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}
.overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);

  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s, visibility 0s 0.4s;
  transition: transform 0.4s, opacity 0.4s, visibility 0s 0.4s;
}
.overlay {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(200,200,200,.8);
  z-index: 9999;
}
.overlay-content {
  padding: 4em 6em;
  display: flex;
  flex: 1;
  flex-direction: column;
}








.scenariogrid {
  flex: 1;
  background: white;
}
