{namespace app.soy.pixel}


/***/
{template .createDom}
  <div class="worm-pixel" style="display:none;">
    <div class="worm-pixel-border worm-pixel-border-top"></div>
    <div class="worm-pixel-border worm-pixel-border-right"></div>
    <div class="worm-pixel-border worm-pixel-border-bottom"></div>
    <div class="worm-pixel-border worm-pixel-border-left"></div>
  </div>
{/template}
